.slideshow-container{
    text-align: center;
    background-color: darkblue;
    box-shadow: 10px 10px 10px black;
}
.text{
    color: white;
    margin: 100
    px;
}
.numbertext{
    color: white;
}
#hindi-songs{
    display: none;
}
#bengali-songs{
    display: none;
}
#marathi-songs{
    display: none;
}
#telugu-songs{
    display: none;
}
#tamil-songs{
    display: none;
}
#instructions{
    color: white;
    font-size: 18px;
}
.cursor{
cursor: pointer;
}